@font-face {
    src: url('Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
    font-family: Playfair;
}

body {
    background-color: #222;
    color: #f0e6d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: Playfair;
    font-size: 60px;
    font-weight: 700;
    color: #f3c68e;
}

h4 {
    font-family: Playfair;
    font-size: 20px;
    color: #f3c68e;
    margin: 10px 0px 40px;
}

img {
    max-width: 500px;
    height: auto;
}

button {
    background-color: #f3c68e;
    color: #222;
    font-family: Playfair, serif;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #e5b07e;
    transform: scale(1.05);
}
